<div class="container">
	<h1 class="title">About Gudja</h1>
	<div class="row">
		<div class="about-image col-md-6">
			<img src="https://artint.info/figures/ch03/sgraph_br_new.png" alt="tree graph">
			https://artint.info/figures/ch03/sgraph_br_new.png
		</div>
		<div class="maintext col-md-6">
			<p>Gudja is a web crawler that lets users provide an input URL, a search depth parameter and a search keyword. It then will crawl the web, displaying the links if each page the crawler visits in an interactive graph.</p>
			<p>To use, you simply can fill out the form and see the graphical representation display.</p>
			<p>Previous searches will also appear on the form page, that can be selected and re-run.</p>
		</div>
	</div>
</div>
