<div class="container">
	<h1 class="title">Gudja</h1>
	<div class="maincontent">
		<div class="maintext">
			<h4>Gudja is a web crawler where you can provide an input URL, a search depth parameter and a search keyword. It then will crawl the web, displaying the links of each page the crawler visits in an interactive graph.</h4>
			<!-- <p>To use, simply fill out the form and see the graphical representation display. Gudja supports both breadth-first and depth-first searches.</p> -->
			<!-- <p>Previous searches will also appear on the form page which can be selected and re-run.</p> -->
		</div>
	</div>
</div>
